@model MenuViewModel

    <section id="add-food">
        <div class="row">
            <div class="col-xs-12">
                <div class="card">
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <form asp-action="@Model.Action" id="dish-form" class="steps-create-menu wizard-circle" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Id" />
                                
                                <!-- Step 1 -->
                                <h6>@MenuResource.Infos</h6>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label asp-for="MenuModel.RestaurantId" class="control-label">@MenuResource.RestaurantId</label>
                                                <select asp-items="Model.Restaurants" asp-for="MenuModel.RestaurantId" class="form-control restaurant">
                                                    <option value="">-- @MenuResource.RestaurantId --</option>
                                                </select>
                                                <span asp-validation-for="MenuModel.RestaurantId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="MenuModel.ChefId" class="control-label">@MenuResource.RestaurantId</label>
                                                <select asp-items="Model.Chefs" asp-for="MenuModel.ChefId" class="form-control restaurant">
                                                    <option value="">-- @MenuResource.ChefId --</option>
                                                </select>
                                                <span asp-validation-for="MenuModel.ChefId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="MenuModel.Name" class="control-label">@BaseResource.Name</label>
                                                <input asp-for="MenuModel.Name" class="form-control" placeholder="@BaseResource.Name" />
                                                <span asp-validation-for="MenuModel.Name" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="MenuModel.Alias" class="control-label">@BaseResource.Alias</label>
                                                <input asp-for="MenuModel.Alias" class="form-control" placeholder="@BaseResource.Alias" />
                                                <span asp-validation-for="MenuModel.Alias" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="MenuModel.Description" class="control-label">@BaseResource.Description</label>
                                                <textarea asp-for="MenuModel.Description" class="form-control" placeholder="@BaseResource.Description"></textarea>
                                                <span asp-validation-for="MenuModel.Description" class="text-danger"></span>
                                            </div>

                                            <div class="form-group form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" asp-for="MenuModel.IsDisabled" /> @BaseResource.IsDisabled
                                                </label>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </fieldset>
                                <!-- Step 2 -->
                                <h6>@MenuResource.Items</h6>
                                <fieldset>
                                   

                                    <input type="button"
                                           class="btn btn-default"
                                           data-action-url="@Url.Action("AddNewItem","Menus",new {area="Admin"})"
                                           value="@MenuUtilsResource.ButtonAddItem"
                                           id="add-ingredient" />

                                </fieldset>

                                
                                
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>