@using SmartRestaurant.Client.Web.Models.Pricings
@using SmartRestaurant.Resources.Restaurants.Staffs
@using SmartRestaurant.Resources.UI.Areas.Admin
@model SmartRestaurant.Client.Web.Models.Pricings.TarificationItemViewModel

    <form method="post" asp-action="index" asp-controller="Tarifications">
        <div class="form-group">
            <label asp-for="SelectedRestaurant" class="control-label">@StaffResource.Restaurant</label>
            <select asp-items="Model.Restaurants" asp-for="SelectedRestaurant"
                    class="form-control select2"
                    style="width:300px"
                    title="@StaffResource.Restaurant">
                <option value="">--@StaffResource.Restaurant--</option>
            </select>
            
        </div>
        <div class="form-group">
            <input type="submit"
                   class="btn btn-primary"
                   value="@SharedAdminResource.Search" />
        </div>
    </form>
        <table class="table">
            <thead class="thead-inverse">
                <tr>

                    <th>
                        @BaseResource.Name
                    </th>

                    <th>
                        @StaffResource.Restaurant
                    </th>                     
                    <th>
                        @BaseResource.IsDisabled
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Tarifications != null)
                {
                    foreach (var item in Model.Tarifications)
                    {
                        <partial name="_TarificationListItemView" model="item" />
                    }
                }
            </tbody>
        </table>
   