@model TemplateItemModel
    <tr id="template-@Model.Id">
        

        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => Model.Type)
        </td>

        <td>
            @Html.DisplayFor(modelItem => Model.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Description)
        </td>

        <td>
            @Html.DisplayFor(modelItem => Model.IsDisabled)
        </td>
        <td class="align-content-end">
            <a asp-action="Edit"
               asp-controller="Templates"
               asp-area="Admin"
               asp-route-id="@Model.Id"
               class="action-link action-edit">
                <i class="fa fa-pencil"></i>
            </a>

            @*<a data-action="Delete"
               data-controller="languages"
               data-area="Admin"
               data-target="#languages-@Model.Id"
               data-id="@Model.Id"
               class="action-link action-delete">
                <i class="fa fa-trash-o"></i>
            </a>*@
            <a data-action-url=@Url.Action("Delete","Templates",new { area="Admin"})
               data-target="#template-@Model.Id"
               data-id="@Model.Id"
               class="action-link action-delete">
                <i class="fa fa-trash-o"></i>
            </a>


        </td>
    </tr>

