@model NotificationViewModel

@{
    ViewData["Title"] = NotificationUtilsResource.EditPageTitle;
}

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UpdateModel.Id" />
            <div class="container">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="UpdateModel.Name" class="control-label">@BaseResource.Name</label>
                        <input asp-for="UpdateModel.Name" class="form-control" placeholder="@BaseResource.Name" />
                        <span asp-validation-for="UpdateModel.Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UpdateModel.TemplateId" class="control-label">@NotificationResource.TemplateId</label>
                        <select asp-items="Model.Templates" asp-for="UpdateModel.TemplateId"
                                class="form-control select2"
                                title="@NotificationResource.TemplateId">
                            <option value="">--@NotificationResource.TemplateId--</option>
                        </select>
                        <span asp-validation-for="UpdateModel.TemplateId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UpdateModel.TableName" class="control-label">@NotificationResource.TableName</label>
                        <input asp-for="UpdateModel.TableName" class="form-control" />
                        <span asp-validation-for="UpdateModel.TableName" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="UpdateModel.Alias" class="control-label col-md-2">@BaseResource.Alias</label>
                        <input asp-for="UpdateModel.Alias" class="form-control" placeholder="@BaseResource.Alias" />
                        <span asp-validation-for="UpdateModel.Alias" class="text-danger"></span>
                    </div>

                    @*<div class="form-group">
                        <label asp-for="UpdateModel.Title" class="control-label"></label>
                        <input asp-for="UpdateModel.Title" class="form-control" />
                        <span asp-validation-for="UpdateModel.Title" class="text-danger"></span>
                    </div>*@
                </div>
                <div class="col-md-6">
                    @*<div class="form-group">
                        <label asp-for="UpdateModel.Subject" class="control-label"></label>
                        <input asp-for="UpdateModel.Subject" class="form-control" />
                        <span asp-validation-for="UpdateModel.Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpdateModel.Body" class="control-label"></label>
                        <input asp-for="UpdateModel.Body" class="form-control" />
                        <span asp-validation-for="UpdateModel.Body" class="text-danger"></span>
                    </div>*@


                    <div class="form-group">
                        <label asp-for="UpdateModel.Type" class="control-label">@NotificationResource.NotificationType</label>
                        <select asp-items="Model.NotificationTypes" asp-for="UpdateModel.Type"
                                class="form-control select2"
                                title="@NotificationResource.NotificationType">
                            <option value="">--@NotificationResource.NotificationType--</option>
                        </select>
                        <span asp-validation-for="UpdateModel.Type" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="UpdateModel.Action" class="control-label">@NotificationResource.Action</label>
                        <select asp-items="Model.ActionTypes" asp-for="UpdateModel.Action"
                                class="form-control select2"
                                title="@NotificationResource.Action">
                            <option value="">--@NotificationResource.Action--</option>
                        </select>
                        <span asp-validation-for="UpdateModel.Action" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="UpdateModel.IsDisabled" /> @BaseResource.IsDisabled
                        </label>
                    </div>
                    @for (int i = 0; i < Model.UsersItemModel.Count; i++)
                    {


                        <div class="form-check form-check-inline">
                            <input type="hidden" asp-for="@Model.UsersItemModel[i].Id" />
                            <input type="hidden" asp-for="@Model.UsersItemModel[i].LastName" />
                            <input type="hidden" asp-for="@Model.UsersItemModel[i].FirstName" />
                            <input type="hidden" asp-for="@Model.UsersItemModel[i].UserName" />
                            <input class="form-check-input" type="checkbox" asp-for="@Model.UsersItemModel[i].IsSelected">
                            <label class="form-check-label">@Model.UsersItemModel[i].UserName</label>
                        </div>
                    }
                </div>

            </div>
            
           

            <partial name="_FormCommandsView" />
        </form>
    </div>
</div>

<partial name="_BacktoListView" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

