@model FoodCategoryItemModel
    <tr id="food-category-@Model.Id">
        <td class="marge">
            <a class="load-childs"               
               data-action-url=@Url.Action("LoadChilds","FoodsCategories",new { area="Admin"})
               data-id="@Model.Id"
               data-target="#childs-@Model.Id">
                <i class="fa fa-plus"></i>
            </a>
        </td>
        <td>
            @if (!string.IsNullOrEmpty(Model.PictureUrl))
            {
                <img src="@Model.PictureUrl" class="list-img-preview" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => Model.ParentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem =>Model.IsDisabled)
        </td>
        <td class="align-content-end">
            <a asp-action="Edit"
               asp-controller="FoodsCategories"
               asp-area="Admin"
               asp-route-id="@Model.Id"
               class="action-link action-edit">
                <i class="fa fa-pencil"></i>
            </a>

            <a 
               data-action-url=@Url.Action("Delete","FoodsCategories",new { area="Admin"})
               data-target="#food-category-@Model.Id"
               data-id="@Model.Id"
               class="action-link action-delete">
                <i class="fa fa-trash-o"></i>
            </a>
        </td>
    </tr>
<tr id="childs-@Model.Id" class="hidden">
    <td class="marge">
        
    </td>
    <td colspan="5" class="childs">
        <partial name="_ProgressJobInListView" />
    </td>

</tr>