@model IEnumerable<MailingItemModel>

<table class="table">
    <thead class="thead-inverse">
        <tr>
            <th>
                @BaseResource.Name
            </th>
            <th>
                @MailingResource.TableName
            </th>
            <th>
                @MailingResource.Action
            </th>
            <th>
                @NotificationResource.Users
            </th>
            <th>
                @BaseResource.IsDisabled
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <partial name="_MailingListItemView" model="item" />
        }
    </tbody>
</table>
