@model MailingViewModel

@{
    ViewData["Title"] = MailingUtilsResource.AddPageTitle;
}

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Add">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="container">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CreateModel.TemplateId" class="control-label">@MailingResource.TemplateId</label>
                        <select asp-items="Model.Templates" asp-for="CreateModel.TemplateId"
                                class="form-control select2"
                                title="@MailingResource.TemplateId">
                            <option value="">--@MailingResource.TemplateId--</option>
                        </select>
                        <span asp-validation-for="CreateModel.TemplateId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="CreateModel.Name" class="control-label"></label>
                        <input asp-for="CreateModel.Name" class="form-control" />
                        <span asp-validation-for="CreateModel.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreateModel.TableName" class="control-label"></label>
                        <input asp-for="CreateModel.TableName" class="form-control" />
                        <span asp-validation-for="CreateModel.TableName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreateModel.Alias" class="control-label"></label>
                        <input asp-for="CreateModel.Alias" class="form-control" />
                        <span asp-validation-for="CreateModel.Alias" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="CreateModel.Title" class="control-label"></label>
                        <input asp-for="CreateModel.Title" class="form-control" />
                        <span asp-validation-for="CreateModel.Title" class="text-danger"></span>
                    </div>*@

                </div>

                <div class="col-md-6">
                    @*<div class="form-group">
                        <label asp-for="CreateModel.Subject" class="control-label"></label>
                        <input asp-for="CreateModel.Subject" class="form-control" />
                        <span asp-validation-for="CreateModel.Subject" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreateModel.Body" class="control-label"></label>
                        <input asp-for="CreateModel.Body" class="form-control" />
                        <span asp-validation-for="CreateModel.Body" class="text-danger"></span>
                    </div>*@


                    <div class="form-group">
                        <label asp-for="CreateModel.Type" class="control-label">@MailingResource.NotificationType</label>
                        <select asp-items="Model.NotificationTypes" asp-for="CreateModel.Type"
                                class="form-control select2"
                                title="@MailingResource.NotificationType">
                            <option value="">--@MailingResource.NotificationType--</option>
                        </select>
                        <span asp-validation-for="CreateModel.Type" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="CreateModel.Action" class="control-label">@MailingResource.Action</label>
                        <select asp-items="Model.ActionTypes" asp-for="CreateModel.Action"
                                class="form-control select2"
                                title="@MailingResource.Action">
                            <option value="">--@MailingResource.Action--</option>
                        </select>
                        <span asp-validation-for="CreateModel.Action" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="CreateModel.IsDisabled" /> @BaseResource.IsDisabled
                        </label>
                    </div>
                    @for (int i = 0; i < Model.UsersItemModel.Count; i++)
                    {


                        <div class="form-check form-check-inline">
                            <input type="hidden" asp-for="@Model.UsersItemModel[i].Id" />
                            <input type="hidden" asp-for="@Model.UsersItemModel[i].LastName" />
                            <input type="hidden" asp-for="@Model.UsersItemModel[i].FirstName" />
                            <input type="hidden" asp-for="@Model.UsersItemModel[i].UserName" />
                            <input class="form-check-input" type="checkbox" asp-for="@Model.UsersItemModel[i].IsSelected">
                            <label class="form-check-label">@Model.UsersItemModel[i].UserName</label>
                        </div>
                    }
                </div>


                </div>


                




                <partial name="_FormCommandsView" />
</form>
    </div>
</div>

<partial name="_BacktoListView" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


