@model FileViewModel

    <div class="upload-image" id="upload-image-@Model.Name">
        <input type="hidden" asp-for="ImageId" class="image-id" />
        <input type="hidden" asp-for="OldUrl" class="image-url"/>
        <div class="pic-thumbnail">
            <button type="button" @Html.Raw(Model.HasImage ? "class=\"input-file-post hidden\"" : "class=\"input-file-post\"") data-id="@Model.Name" id="btn-file-post-@Model.Name">
                <i class="fa fa-camera" id="icon-@Model.Name"></i>
                <br /><span>@Model.ImageSize</span>
            </button>
            <div @Html.Raw(Model.HasImage ? "class=\"pic-commands\"" : "class=\"pic-commands hidden\"") id="btns-commands-@Model.Name">
                <div class="btn-group-vertical">
                    <button type="button" class="btn-change-image" title="@Model.ChangeFileText" data-id="@Model.Name">
                        <i class="fa fa-camera"></i>
                    </button>
                    <button type="button" class="btn-delete-image" title="@Model.RemoveFileText" data-id="@Model.Name">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </div>
            </div>

            <img id="img-prev-@Model.Name" data-id="@Model.Name" @Html.Raw(Model.HasImage ? "class=\"img-fluid img-thumbnail\"" : "class=\"img-fluid img-thumbnail hidden\"") src="@Model.OldUrl" />
            <div id="post-result" class="alert alert-success hidden"></div>
            @*<input type="file" class="input-file hidden" data-id="prefix" data-key="Model.SessionKey" id="upload-file-prefix" onchange="ShowImagePreview('prefix');" accept="Model.Accept" />*@
            @{
                if (Model.Multiple)
                {
                    <input type="file"
                           asp-for="File"
                           accept="@Model.Accept"
                           onchange="displayPreview(this,'img-prev-@Model.Name')"
                           class="input-file hidden"
                           multiple>
                }
                else
                {
                    <input type="file"
                           asp-for="File"
                           accept="@Model.Accept"
                           class="input-file hidden"
                           onchange="displayPreview(this,'img-prev-@Model.Name')">
                }
            }

        </div>
    </div>