@model GalleryViewModel
@{
    ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = $"{Model.HtmlFieldPrefix}";
}
<input type="hidden" asp-for="GalleryModel.Id" />
<div class="form-group">
    <label asp-for="GalleryModel.Name" class="control-label"></label>
    <input asp-for="GalleryModel.Name" class="form-control" placeholder="@GalleryResource.NamePlaceHolder" />
    <span asp-validation-for="GalleryModel.Name" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="GalleryModel.Alias" class="control-label"></label>
    <input asp-for="GalleryModel.Alias" class="form-control" placeholder="@GalleryResource.AliasPlaceHolder" />
    <span asp-validation-for="GalleryModel.Alias" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="GalleryModel.Description" class="control-label">@BaseResource.Description</label>
    <textarea asp-for="GalleryModel.Description" class="form-control" placeholder="@GalleryResource.DescriptionPlaceHolder"></textarea>
    <span asp-validation-for="GalleryModel.Description" class="text-danger"></span>
</div>
<div class="form-group form-check">
    <label class="form-check-label">
        <input class="form-check-input" asp-for="GalleryModel.IsDisabled" /> @BaseResource.IsDisabled
    </label>
</div>
<hr />
<h1>@GalleryUtilsResource.Pictures</h1>
<div id="gallery-pictures">
    <partial name="_GalleryPicturesView" model="Model.Pictures" />
</div>

<hr />
<input type="button"
       class="btn btn-default"
       data-action-url="@Url.Action("AddNewGalleryImage","Dishes",new {area="Admin"})"
       value="@GalleryUtilsResource.ButtonAddPicture"
       id="add-gallery-picture" />