@using SmartRestaurant.Resources.Section
@model SectionViewModel
@{
    ViewData["Title"] = @SectionUtilsResource.AddSectionNavigationTitle;
}
<section i="add-food">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-body collapse in">
                    <div class="card-block">
                        <form method="post" asp-action="AddSection" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label asp-for="SectionModel.RestaurantId" class="control-label">@SectionResource.RestaurantId</label>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <select asp-items="Model.Restaurants" asp-for="SectionModel.RestaurantId" class="form-control restaurant">
                                                    <option value="">-- @SectionResource.RestaurantId --</option>
                                                </select>
                                                <span asp-validation-for="SectionModel.RestaurantId" class="text-danger"></span>
                                            }
                                            else if (User.IsInRole("Owner"))
                                            {
                                                <input type="hidden" name="RestaurantId" value="@Model.RestaurantId" />
                                            }

                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SectionModel.MenuId" class="control-label">@SectionResource.MenuId</label>
                                            @if (User.IsInRole("Owner"))
                                            {
                                                <select asp-items="Model.Menus" asp-for="SectionModel.MenuId" class="form-control restaurant">
                                                    <option value="">-- @SectionResource.MenuId --</option>
                                                </select>
                                                <span asp-validation-for="SectionModel.RestaurantId" class="text-danger"></span>
                                            }
                                            else if (User.IsInRole("Admin"))
                                            {
                                                <select id="SectionModel_MenuId" asp-for="SectionModel.MenuId" class="select form-control">
                                                    <option value="">-- @SectionResource.MenuId --</option>

                                                </select>
                                            }

                                        </div>

                                        <div class="form-group">
                                            <label asp-for="SectionModel.Name" class="control-label">@BaseResource.Name</label>
                                            <input asp-for="SectionModel.Name" class="form-control" placeholder="@BaseResource.Name" />
                                            <span asp-validation-for="SectionModel.Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SectionModel.Description" class="control-label">@BaseResource.Description</label>
                                            <textarea asp-for="SectionModel.Description" class="form-control" placeholder="@BaseResource.Description"></textarea>
                                            <span asp-validation-for="SectionModel.Description" class="text-danger"></span>
                                        </div>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input type="file" asp-for="SectionModel.ImageUri" accept="image/*">
                                            </label>
                                        </div>
                                    </div>

                              
                                </div>
                                <input type="submit"
                                       class="btn btn-success"
                                       value="@SectionUtilsResource.ButtonAddNewText" />

                            </fieldset>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
    $(document).ready(function () {
        $("#SectionModel_RestaurantId").on('change', function () {
            var selectedRestaurantid = $(this).children("option:selected").val();
        
            $.get('@Url.Action("GetMenus")/?restaurantId=' + selectedRestaurantid, function (data) {
                data.forEach(i => {
                    $("#SectionModel_MenuId")
                        .empty()
                        .append('<option value=' + i.id + '>' + i.name + '</option>')
                        .trigger('change');
                });
                if (data.length === 0) {
                    $("#SectionModel_MenuId")
                        .empty();

                }
                $("#SectionModel_MenuId").prop('selectedIndex', 0);

            })
        });
    })
</script>
