@using SmartRestaurant.Application.Commun.Units.Queries
@using SmartRestaurant.Resources.Commun.Unit
@model IEnumerable<SmartRestaurant.Application.Commun.Units.Queries.UnitItemModel>

<table class="table">
    <thead class="thead-inverse">
        <tr>            
            <th>
                @BaseResource.Name
            </th>
            <th>
                @UnitResource.Symbol
            </th>
            <th>
                @BaseResource.Alias
            </th>
            <th>
                @BaseResource.IsDisabled
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="unit-@item.Id">            
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDisabled)
            </td>
            <td>
                <a asp-action="Edit"
                   asp-controller="Units"
                   asp-area="Admin"
                   asp-route-id="@item.Id"
                   class="action-link action-edit">
                    <i class="fa fa-pencil"></i>
                </a>

                <a 
                   data-action-url=@Url.Action("Delete","Units")
                    data-target="#unit-@item.Id"
                   data-id="@item.Id"
                   class="action-link action-delete">
                    <i class="fa fa-trash-o"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
