@using SmartRestaurant.Client.Web.Models.States
@model SmartRestaurant.Client.Web.Models.States.StateViewModel

@{
    ViewData["Title"] = StateUtilsResource.EditPageTitle;
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UpdateModel.Id" />

            <div class="form-group">
                <label asp-for="UpdateModel.Name" class="control-label">@BaseResource.Name</label>
                <input asp-for="UpdateModel.Name" class="form-control" placeholder="@BaseResource.Name" />
                <span asp-validation-for="UpdateModel.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateModel.CountryId" class="control-label">@StateResource.CountryId</label>
                <select asp-items="Model.Countries" asp-for="UpdateModel.CountryId"
                        class="form-control select2"
                        title="@StateResource.CountryId">
                    <option value="">--@StateResource.CountryId--</option>
                </select>
                <span asp-validation-for="UpdateModel.CountryId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateModel.Alias" class="control-label col-md-2">@BaseResource.Alias</label>
                <input asp-for="UpdateModel.Alias" class="form-control" placeholder="@BaseResource.Alias" />
                <span asp-validation-for="UpdateModel.Alias" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label asp-for="UpdateModel.IsoCode" class="control-label">@BaseResource.IsoCode</label>
                <input asp-for="UpdateModel.IsoCode" class="form-control" placeholder="@BaseResource.IsoCode" />
                <span asp-validation-for="UpdateModel.IsoCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UpdateModel.IsDisabled" /> @BaseResource.IsDisabled
                </label>
            </div>
            <partial name="_FormCommandsView" />
        </form>
    </div>
</div>

<partial name="_BacktoListView" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

