@model GalleryPictureViewModel
@{
    ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = $"{Model.HtmlFieldPrefix}.Pictures[{Model.Index}]";
}
<input type="hidden" asp-for="Text" />
<input type="hidden" asp-for="Picture.Id" />
<input type="hidden" asp-for="Picture.ImageUrl" />

<div class="col-xl-12 col-md-12 col-lg-12">
    <div class="card-outline-primary" id="picture-@Model.Index">
        <div class="card-header no-border">
            <h4 class="card-title">@Model.Title</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse2" data-target="#picture-@Model.Index"><i class="ft-minus"></i></a></li>
                    <li>
                        <a data-index="@Model.Index"
                           class="delete-picture"
                           data-action-url="@Url.Action(Model.DeleteActionName,Model.DeleteControllerName,new {area="Admin" })">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="form-group">
                        <partial name="_FileViewModel" for="File" />
                    </div>
                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="Picture.Name" class="form-control" placeholder="@PictureResource.NamePlaceHolder" />
                        <span asp-validation-for="Picture.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Picture.Alias" class="form-control" placeholder="@PictureResource.AliasPlaceHolder" />
                        <span asp-validation-for="Picture.Alias" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea asp-for="Picture.Description" class="form-control" placeholder="@PictureResource.DescriptionPlaceHolder"></textarea>
                        <span asp-validation-for="Picture.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Picture.IsTheCover" /> @PictureResource.IsTheCover
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Picture.IsDisabled" /> @BaseResource.IsDisabled
                        </label>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>