@model AreaItemViewModel

    <form method="post" class="form-inline filter">
        <div class="form-group">
            <input type="text" id="Name" class="form-control" placeholder="Name" />
        </div>
        <div class="form-group">
            <select id="restaurantsList" 
                    asp-items="Model.AreaFilterViewModel.Restaurants" 
                    asp-for="AreaFilterViewModel.SelectedRestaurantId"
                    class="form-control select2"
                    title="@AreaResource.RestaurantId">
                <option value="">--@AreaResource.RestaurantId--</option>
            </select>
        </div>
        <div class="form-group">
            <select id="floorsList"
                    asp-items="Model.AreaFilterViewModel.Floors"
                    asp-for="AreaFilterViewModel.SelectedFloorId"
                    class="form-control select2"
                    title="@AreaResource.FloorId">
                <option value="">--@AreaResource.FloorId--</option>
            </select>
        </div>
        <input type="submit"
               data-action="Index"
               data-controller="Areas"
               data-area="Admin"
               value="@SharedAdminResource.Search"
               id="sr-form-submit"
               class="btn btn-default" />

    </form>

<table class="table">
    <thead class="thead-inverse">
        <tr>

            <th>
                @BaseResource.Name
            </th>
            <th>
                @AreaResource.FloorId
            </th>
            <th>
                @BaseResource.IsDisabled
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Areas != null)
        {
            foreach (var item in Model.Areas)
            {
                <partial name="_AreaListItemView" model="item" />
            }
        }
    </tbody>
</table>
