@model AreaItemModel
<tr id="area-@Model.Id">
     
    <td>
        @Html.DisplayFor(modelItem => Model.Name)
    </td>

    <td>
        @Html.DisplayFor(modelItem => Model.FloorName)
    </td> 
    <td>
        @Html.DisplayFor(modelItem => Model.IsDisabled)
    </td>
    <td class="align-content-end">
        <a asp-action="Edit"
           asp-controller="Areas"
           asp-area="Admin"
           asp-route-id="@Model.Id"
           class="action-link action-edit">
            <i class="fa fa-pencil"></i>
        </a>

        <a data-action-url=@Url.Action("Delete","Areas",new { area="Admin"})
           data-target="#Areas-@Model.Id"
           data-id="@Model.Id"
           class="action-link action-delete">
            <i class="fa fa-trash-o"></i>
        </a>
    </td>
</tr>
