@model ChainItemViewModel

    <form method="post" asp-action="index" asp-controller="Chains">
        <div class="form-group">
            <label asp-for="SelectedOwnerId" class="control-label">@OwnerResource.Owner</label>
            <select style="width:50%" asp-items="Model.Owners"
                    asp-for="SelectedOwnerId"
                      
                    class="form-control select2"
                    title="@OwnerResource.Owner">
                <option value="">--@OwnerResource.Owner--</option>
            </select>
        </div>


        <div class="form-group">
            <input type="submit"
                   width="200"
                   class="btn-default"
                   value="@SharedAdminResource.Search" />
        </div>


    </form>
<table class="table">
    <thead class="thead-inverse">
        <tr>

            <th>
                @BaseResource.Name
            </th>           
            <th>
                @OwnerResource.Owner
            </th>
            <th>
                @BaseResource.IsDisabled
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Entities != null)
        {
            foreach (var item in Model.Entities)
            {
                <partial name="_ChainListItemView" model="item" />
            }
        }
    </tbody>
</table>
