@model ChainItemModel
    <tr id="Chain-@Model.Id">

        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.OwnerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.IsDisabled)
        </td>
        <td class="align-content-end">
            <a asp-action="Edit"
               asp-controller="Chains"
               asp-area="Admin"
               asp-route-id="@Model.Id"
               class="action-link action-edit">
                <i class="fa fa-pencil"></i>
            </a>

            <a data-action-url=@Url.Action("Delete","Chains",new { area="Admin"})
               data-target="#Chains-@Model.Id"
               data-id="@Model.Id"
               class="action-link action-delete">
                <i class="fa fa-trash-o"></i>
            </a>
        </td>
    </tr>
