@model  StaffViewModel

@{
    ViewData["Title"] = StaffUtilsResource.EditPageTitle;
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="UpdateModel.Id" />

            <div class="form-group">
                <label asp-for="UpdateModel.FirstName" class="control-label">@StaffResource.FirstName</label>
                <input asp-for="UpdateModel.FirstName" class="form-control" placeholder="@StaffResource.FirstName" />
                <span asp-validation-for="UpdateModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateModel.LastName" class="control-label">@StaffResource.LastName</label>
                <input asp-for="UpdateModel.LastName" class="form-control" placeholder="@StaffResource.LastName" />
                <span asp-validation-for="UpdateModel.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateModel.RestaurantId" class="control-label">@StaffResource.Restaurant</label>
                <select asp-items="Model.Parents" asp-for="UpdateModel.RestaurantId"
                        class="form-control select2"
                        title="@StaffResource.Restaurant">
                    <option value="">--@StaffResource.Restaurant--</option>
                </select>
                <span asp-validation-for="UpdateModel.RestaurantId" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="UpdateModel.DateOfBirth" class="control-label">@OwnerResource.BirthDate</label>
                <input asp-for="UpdateModel.DateOfBirth" class="form-control datepicker" />
                <span asp-validation-for="UpdateModel.DateOfBirth" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="UpdateModel.StaffRole" class="control-label col-md-2">@StaffResource.Role</label>
                <select asp-for="UpdateModel.StaffRole"
                        asp-items="Model.Roles"
                        class="form-control" placeholder="@StaffResource.Role">
                    <option value="">--@StaffResource.Role--</option>
                </select>
                <span asp-validation-for="UpdateModel.StaffRole" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateModel.Alias" class="control-label col-md-2">@BaseResource.Alias</label>
                <input asp-for="UpdateModel.Alias" class="form-control" placeholder="@BaseResource.Alias" />
                <span asp-validation-for="UpdateModel.Alias" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UpdateModel.IsDisabled" /> @BaseResource.IsDisabled
                </label>
            </div>

            <partial name="_FormCommandsView" />
        </form>
    </div>
</div>

<partial name="_BacktoListView" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}