@model  PaginatedList<DishItemModel>

    <table class="table">
        <thead class="thead-inverse">
            <tr>

                <th>
                    @BaseResource.PictureUrl
                </th>
                <th>
                    @BaseResource.Name
                </th>
                <th>
                    @DishResource.RestaurantId
                </th>
                <th>
                    @DishResource.FamillyId
                </th>
                <th>
                    @DishResource.Type
                </th>
                <th>
                    @BaseResource.IsDisabled
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <partial name="_DishItemView" model="item" />
            }
        </tbody>
    </table>