@model DishIngredientViewModel
@{
    ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = $"Ingredients[{Model.Index}]";
}
<input type="hidden" asp-for="Index" />
<input type="hidden" asp-for="Text" />
<input type="hidden" asp-for="Ingredient.Id" />
<div class="col-xl-12 col-md-12 col-lg-12">
    <div class="card-outline-primary" id="ingredient-@Model.Index">
        <div class="card-header no-border">
            <h4 class="card-title">@Model.Title</h4>
            <a class="heading-elements-toggle"><i class="fa fa-ellipsis-v font-medium-3"></i></a>
            <div class="heading-elements">
                <ul class="list-inline mb-0">
                    <li><a data-action="collapse2" data-target="#ingredient-@Model.Index"><i class="ft-minus"></i></a></li>
                    <li>@if (Model.CanDelete)
                    {
                        <a data-index="@Model.Index"
                           class="delete-ingredient"
                           data-action-url="@Url.Action("DeleteIngredient","Dishes",new {area="Admin" })">
                            <i class="fa fa-trash-o"></i>
                        </a>
                    }                        
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-6 col-md-6">
                    <div class="form-group">
                        <select asp-items="Model.Categories" asp-for="CategoryId" class="form-control select2 load-category-foods"
                                data-index="@Model.Index"
                                data-action-url="@Url.Action("GetFoodsByCategory","Foods",new {area="Admin" })"
                                title="@DishIngredientResource.FoodCategory">
                            <option value="">-- @DishIngredientResource.FoodCategory --</option>
                        </select>
                        <span asp-validation-for="Ingredient.FoodId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <select asp-items="Model.Foods" asp-for="Ingredient.FoodId"
                                class="form-control select2 load-food-details"
                                data-index="@Model.Index"
                                data-action-url="@Url.Action("GetFoodDetails","Foods",new {area="Admin" })"
                                title="@DishIngredientResource.FoodId">
                            <option value="">--@DishIngredientResource.FoodId--</option>
                        </select>
                        <span asp-validation-for="Ingredient.FoodId" class="text-danger"></span>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <input asp-for="Ingredient.Quantity.Value" class="form-control" placeholder="@QuantityResource.Value" />
                        </div>
                        <div class="form-group">
                            <select asp-items="Model.Units" asp-for="Ingredient.Quantity.UnitId" class="form-control select2" title="@QuantityResource.UnitId">
                                <option value="">-- @QuantityResource.UnitId --</option>
                            </select>
                        </div>
                        <span asp-validation-for="Ingredient.Quantity.Value" class="text-danger"></span>
                        <span asp-validation-for="Ingredient.Quantity.UnitId" class="text-danger"></span>
                    </div>
                    <div class="form-inline" style="padding-top:15px;">
                        <div class="form-group form-check" style="padding-right:15px;">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Ingredient.IsPrincipal" /> @DishIngredientResource.IsPrincipal
                            </label>
                        </div>
                        <div class="form-group form-check" style="padding-right:15px;">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Ingredient.IsSwitchable" /> @DishIngredientResource.IsSwitchable
                            </label>
                        </div>
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Ingredient.IsDisabled" /> @BaseResource.IsDisabled
                            </label>
                        </div>
                    </div>

                </div>
                <div class="col-xl-6 col-md-6">
                    <div class="form-group">
                        <input asp-for="Ingredient.Name" class="form-control" placeholder="@BaseResource.Name" />
                        <span asp-validation-for="Ingredient.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Ingredient.Alias" class="form-control" placeholder="@BaseResource.Alias" />
                        <span asp-validation-for="Ingredient.Alias" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <textarea asp-for="Ingredient.Description" class="form-control" placeholder="@BaseResource.Description"></textarea>
                        <span asp-validation-for="Ingredient.Description" class="text-danger"></span>
                    </div>

                </div>
            </div>
           

            
        </div>
    </div>
</div>