@using SmartRestaurant.Resources.Menus.Menu
@model SmartRestaurant.Client.Web.Models.Menu.MenuViewModel
@{
    ViewData["Title"] = MenuUtilsResource.EditNavigationTitle;
}
<section id="add-food">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-body collapse in">
                    <div class="card-block">
                        <form method="post" asp-action="EditMenu" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-12">

                                        <div class="form-group">
                                            <label asp-for="MenuModel.RestaurantId" class="control-label">@MenuResource.RestaurantId</label>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <select asp-items="Model.Restaurants" asp-for="MenuModel.RestaurantId" class="form-control restaurant">
                                                    <option value="">-- @MenuResource.RestaurantId --</option>
                                                </select>
                                                <span asp-validation-for="MenuModel.RestaurantId" class="text-danger"></span>
                                            }
                                            else if (User.IsInRole("Owner"))
                                            {
                                                <input type="hidden" name="RestaurantId" value="@Model.RestaurantId" />
                                            }

                                        </div>

                                        <div class="form-group">
                                            <label asp-for="MenuModel.Name" class="control-label">@BaseResource.Name</label>
                                            <input asp-for="MenuModel.Name" class="form-control" placeholder="@BaseResource.Name" />
                                            <span asp-validation-for="MenuModel.Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MenuModel.Description" class="control-label">@BaseResource.Description</label>
                                            <textarea asp-for="MenuModel.Description" class="form-control" placeholder="@BaseResource.Description"></textarea>
                                            <span asp-validation-for="MenuModel.Description" class="text-danger"></span>
                                        </div>

                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="MenuModel.IsDisabled" /> @BaseResource.IsDisabled
                                            </label>
                                        </div>
                                    </div>

                                </div>
                                <input type="submit"
                                       class="btn btn-success"
                                       value="@MenuUtilsResource.ButtonEditText" />

                            </fieldset>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>