@model TextTraslation
@{
    //ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = $"Translates[{Model.ParentIndex}].TextTraslations[{Model.Index}]";
    ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix = $"TextTraslations[{Model.Index}]";
}
<input type="hidden" asp-for="@Model.Index" />
<input type="hidden" asp-for="@Model.Language.Id" />
<input type="hidden" asp-for="@Model.Language.IsoCode" />
<input type="hidden" asp-for="@Model.Language.EnglishName" />
<input type="hidden" asp-for="@Model.Language.Name" />

<td>
    <input type="text" asp-for="@Model.Text" />
</td>