@model CountryViewModel

@{
    ViewData["Title"] = "Edit";
}


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UpdateModel.Id" />
            <div class="form-group">
                <label asp-for="UpdateModel.Alias" class="control-label"></label>
                <input asp-for="UpdateModel.Alias" class="form-control" />
                <span asp-validation-for="UpdateModel.Alias" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="UpdateModel.IsoCode" class="control-label"></label>
                <input asp-for="UpdateModel.IsoCode" class="form-control" />
                <span asp-validation-for="UpdateModel.IsoCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateModel.Name" class="control-label"></label>
                <input asp-for="UpdateModel.Name" class="form-control" />
                <span asp-validation-for="UpdateModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="UpdateModel.IsDisabled" /> @BaseResource.IsDisabled
                </label>
            </div>
            <div class="form-group">
                @for (int i = 0; i < Model.CurrenciesItemModel.Count; i++)
                {


                    <div class="form-check form-check-inline">
                        <input type="hidden" asp-for="@Model.CurrenciesItemModel[i].Id" />
                        <input type="hidden" asp-for="@Model.CurrenciesItemModel[i].IsoCode" />
                        <input type="hidden" asp-for="@Model.CurrenciesItemModel[i].Name" />
                        <input type="hidden" asp-for="@Model.CurrenciesItemModel[i].Alias" />
                        <input class="form-check-input" type="checkbox" asp-for="@Model.CurrenciesItemModel[i].IsSelected">


                        <label class="form-check-label">@Model.CurrenciesItemModel[i].Name</label>

                    </div>
                }
            </div>


            <partial name="_FormCommandsView" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
