@model TarificationViewModel

@{
    ViewData["Title"] = FoodCategoryUtilsResource.AddPageTitle;
}

<hr />

<section>
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-body collapse in">
                    <div class="card-block">
                        <form asp-action="Add" method="post" id="selectAllForm" class="steps-wizard-form wizard-circle" enctype="multipart/form-data">

                            <!-- Step 1 -->
                            <h6>@FoodResource.Infos</h6>
                            <fieldset>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                        <div class="form-group">
                                            <label asp-for="CreateModel.Name" class="control-label">@BaseResource.Name</label>
                                            <input asp-for="CreateModel.Name" class="form-control" placeholder="@BaseResource.Name" />
                                            <span asp-validation-for="CreateModel.Name" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="CreateModel.Alias" class="control-label col-md-2">@BaseResource.Alias</label>
                                            <input asp-for="CreateModel.Alias" class="form-control" placeholder="@BaseResource.Alias" />
                                            <span asp-validation-for="CreateModel.Alias" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="CreateModel.Description" class="control-label col-md-2">@BaseResource.Description</label>
                                            <textarea asp-for="CreateModel.Description" class="form-control" placeholder="@BaseResource.Description"></textarea>
                                            <span asp-validation-for="CreateModel.Description" class="text-danger"></span>
                                        </div>

                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="CreateModel.IsDisabled" /> @BaseResource.IsDisabled
                                            </label>
                                        </div>


                                    </div>
                                </div>
                            </fieldset>
                            <!-- Step 2 -->
                            <h6>@FoodResource.Nutrition</h6>
                            <fieldset>
                                <label>@TarificationUtilsResource.TarificationProductsText</label>
                                <div class="form-group">
                                    <label asp-for="Restaurants" class="control-label">@StaffResource.Restaurant</label>
                                    <select asp-items="Model.Restaurants"
                                            asp-for="CreateModel.RestaurantId"
                                            id="restaurantsList"
                                            class="form-control select2"
                                            style="width:300px"
                                            title="@StaffResource.Restaurant">
                                        <option value="">--@StaffResource.Restaurant--</option>
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label asp-for="ProductFamilies" class="control-label">@ProductFamilyResource.ProductFamily</label>
                                    <select asp-items="Model.ProductFamilies"
                                            asp-for="SelectedProductFamily"
                                            id="productFamiliesList"
                                            class="form-control select2"
                                            style="width:300px"
                                            title="@ProductFamilyResource.ProductFamily">
                                        <option value="">--@ProductFamilyResource.ProductFamily--</option>
                                    </select>
                                </div>
                                <div class="row" style="margin-bottom:20px">
                                    <div class="col-md-4">

                                        <select asp-items="Model.Products"
                                                multiple="multiple"
                                                size="7"
                                                style="width:200px"
                                                id="productsList"></select>
                                        <button type="button"
                                                class="btn btn-primary"
                                                style="vertical-align:top"
                                                onclick="SelectListTransfer('#productsList','#distList')">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <button type="button"
                                                class="btn btn-primary"
                                                style="vertical-align:top"
                                                onclick="SelectListTransferAll('#productsList','#distList')">
                                            <i class="fa fa-plus-square-o"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-8">
                                        <select multiple="multiple"
                                                size="7"
                                                asp-for="CreateModel.ProductsIds"
                                                style="width:200px"
                                                id="distList"></select>

                                        <button type="button"
                                                class="btn btn-primary"
                                                style="vertical-align:top"
                                                onclick="RemoveSelectListItem('#distList')">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                        <button type="button"
                                                class="btn btn-primary"
                                                style="vertical-align:top"
                                                onclick="RemoveAllSelectListItem('#distList')">
                                            <i class="fa fa-trash"></i>
                                        </button>

                                    </div>
                                </div>
                            </fieldset>
                            <!-- Step 3 -->
                            <h6>@FoodResource.Nutrition</h6>
                            <fieldset>

                                <label>@TarificationUtilsResource.TarificationProductsText</label>
                                <div class="form-group">
                                    <label asp-for="Restaurants" class="control-label">@StaffResource.Restaurant</label>
                                    <select asp-items="Model.Restaurants"
                                            asp-for="CreateModel.RestaurantId"
                                            id="restaurantsList"
                                            class="form-control select2"
                                            style="width:300px"
                                            title="@StaffResource.Restaurant">
                                        <option value="">--@StaffResource.Restaurant--</option>
                                    </select>

                                </div>
                                <div class="form-group">
                                    <label asp-for="ProductFamilies" class="control-label">@ProductFamilyResource.ProductFamily</label>
                                    <select asp-items="Model.ProductFamilies"
                                            asp-for="SelectedProductFamily"
                                            id="productFamiliesList"
                                            class="form-control select2"
                                            style="width:300px"
                                            title="@ProductFamilyResource.ProductFamily">
                                        <option value="">--@ProductFamilyResource.ProductFamily--</option>
                                    </select>
                                </div>
                                <div class="row" style="margin-bottom:20px">
                                    <div class="col-md-4">

                                        <select asp-items="Model.Products"
                                                multiple="multiple"
                                                size="7"
                                                style="width:200px"
                                                id="productsList"></select>
                                        <button type="button"
                                                class="btn btn-primary"
                                                style="vertical-align:top"
                                                onclick="SelectListTransfer('#productsList','#distList')">
                                            <i class="fa fa-plus"></i>
                                        </button>
                                        <button type="button"
                                                class="btn btn-primary"
                                                style="vertical-align:top"
                                                onclick="SelectListTransferAll('#productsList','#distList')">
                                            <i class="fa fa-plus-square-o"></i>
                                        </button>
                                    </div>
                                    <div class="col-md-8">
                                        <select multiple="multiple"
                                                size="7"
                                                asp-for="CreateModel.ProductsIds"
                                                style="width:200px"
                                                id="distList"></select>

                                        <button type="button"
                                                class="btn btn-primary"
                                                style="vertical-align:top"
                                                onclick="RemoveSelectListItem('#distList')">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                        <button type="button"
                                                class="btn btn-primary"
                                                style="vertical-align:top"
                                                onclick="RemoveAllSelectListItem('#distList')">
                                            <i class="fa fa-trash"></i>
                                        </button>

                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<partial name="_BacktoListView" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $.validator.setDefaults({ ignore: '' });
        var form = $(".steps-wizard-form").show();
        $(".steps-wizard-form").steps({
            headerTag: "h6",
            bodyTag: "fieldset",
            transitionEffect: "fade",
            titleTemplate: '<span class="step">#index#</span> #title#',
            labels: {
                finish: 'Enregistrer',
                previous: 'Précédent',
                next: 'Suivant'
            },
            onStepChanging: function (event, currentIndex, newIndex) {
                // Allways allow previous action even if the current form is not valid!
                if (currentIndex > newIndex) {
                    return true;
                }
                // Needed in some cases if the user went back (clean up)
                if (currentIndex < newIndex) {
                    // To remove error styles
                    form.find(".body:eq(" + newIndex + ") label.error").remove();
                    form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
                }
                form.validate().settings.ignore = ":disabled";

                //return form.valid();
                var target = $(".current");
                return !Validate(target);

            },
            onFinishing: function (event, currentIndex) {
                form.validate().settings.ignore = ":disabled";
                return form.valid();

            },
            onFinished: function (event, currentIndex) {
                form.submit();
            }
        });
    </script>
}