<div data-scroll-to-active="true" 
     class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
            <li class=" navigation-header">
                <span>@AppClientNavigationResource.General</span>
                <i data-toggle="tooltip" data-placement="right" data-original-title="@AppClientNavigationResource.General" class=" ft-minus"></i>
            </li>
            <li class=" nav-item">
                <a asp-controller="Home" asp-action="Index">
                    <i class="ft-home"></i>
                    <span class="menu-title">
                        @AppClientNavigationResource.Dashboard
                    </span>
                </a>
                @*<ul class="menu-content">
                    <li>
                        <a href="dashboard-ecommerce.html" class="menu-item">eCommerce</a>
                    </li>
                    <li class="active">
                        <a href="dashboard-analytics.html" class="menu-item">Analytics</a>
                    </li>

            </ul>*@
            </li>


            <li class=" navigation-header">
                <span>@AppClientNavigationResource.MySpace</span>
                <i data-toggle="tooltip" data-placement="right" data-original-title="@AppClientNavigationResource.General" class=" ft-minus"></i>
            </li>

            <!--Orders-->
            <li class="nav-item">
                <a asp-controller="Orders" asp-action="Index">
                    <i class="icon-book-open"></i>
                    <span class="menu-title">
                        @AppClientNavigationResource.MyOrders
                    </span>
                </a>
            </li>            
            






        </ul>
    </div>
</div>
